@import "../../assets/styles/variables.scss";
@import "../../assets/styles/reset.scss";

.background_home {
  background-image: url("/assets/home/background-home-desktop.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 700px;
  top: 0;
  z-index: -999;
  background-size: cover;
  background-repeat: no-repeat;
  @include mobile {
    background-image: url("/assets/home/background-home-mobile.jpg");
    min-height: 100vh;
    height: 680px;
  }
  @include tablet {
    background-image: url("/assets/home/background-home-tablet.jpg");
    min-height: 100%;
    height: 1080px;
  }
  @include desktopHeight {
    min-height: 1011px;
  }
 
}

@include desktop {
  .home__section {
    font-family: $font-barlow;
    display: flex;
  }

  .home__description {
    text-transform: capitalize;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 300px 200px;

    &__pretext {
      color: $light-blue;
      text-transform: uppercase;
      font-size: calc(19px + 0.2vw);
      width: auto;
      //border: green solid 1px;

    }

    &__title {
      color: $white;
      text-transform: uppercase;
      font-size: 118px;
      font-weight: 400;
      width: 70%;
      font-family: $font-bellefair;
    }

    &__info {
      font-size: $font-barlow;
      font-weight: 400;
      color: $light-blue;
      font-size: 18px;
      width: 90%;
      line-height: 32px;
    }
  }

  .home__btn {
    width: 50%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    & .home__hover{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 30vw;
      height: 30vw;
      background-color: #464850;
      position: absolute;
      z-index: 1;
      opacity: 0;
     
    }

    & .home__link {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: $white;
      padding: 60px 30px 60px 30px;
      border-radius: 50%;
      font-family: $font-bellefair;
      font-size: calc(30px + 0.5vw);
      text-transform: uppercase;
      text-align: center;
      color: $black;
      width: 20vw;
      height: 20vw;
      position: relative;
      z-index: 2;
      transition: all 0.3s ease; 
      &::before {
        content: ''; /* Se requiere un contenido pseudo-elemento para crear el after */
        position: absolute; /* Posiciona el pseudo-elemento sobre el contenedor */
        top: -10%; /* Ajusta el valor para posicionar el círculo fuera del contenedor */
        left: -10%; 
        width: 120%; 
        height: 120%; 
        border-radius: 50%; 
        background-color: #fff;
        border: 45px #464850 solid;
        opacity: 0; 
        transition: all 0.3s ease; 
        z-index: -2; 
      
      }
      
      &:hover::before {
        opacity: 1; /* Cuando se haga hover sobre el contenedor, el after se mostrará */
      }
  }
}
}
@include tablet {
  .home__section {
    font-family: $font-barlow;
    display: flex;
    flex-direction: column;
  }

  .home__description {
    width: 100%;
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px 0px 20px;
    align-items: center;
    justify-content: center;

    &__pretext {
      color: $light-blue;
      text-transform: uppercase;
      font-size: 18px;
      width: 100%;
    
      text-align: center;

    }

    &__title {
      color: $white;
      text-transform: uppercase;
      font-size: 108px;
      font-weight: 400;
      width: 100%;
 
      text-align: center;
      font-family: $font-bellefair;
    }

    &__info {
      color: $light-blue;
      font-size: calc(12px + 0.3vw);
      width: 100%;
     
      text-align: center;
      padding: 20px 220px;
      text-transform: capitalize;
      line-height: 25px;


    }
  }

  .home__btn {
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   padding-top: 0;

    & .home__link {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: $white;
      padding: 60px 30px 60px 30px;
      border-radius: 50%;
      font-family: $font-bellefair;
      font-size: calc(20px + 0.5vw);
      text-transform: uppercase;
      text-align: center;
      color: $black;
      width: 30vw;
      height: 30vw;
      position: relative;
      z-index: 2;
      transition: all 0.3s ease; 
      &::before {
        content: ''; /* Se requiere un contenido pseudo-elemento para crear el after */
        position: absolute; /* Posiciona el pseudo-elemento sobre el contenedor */
        top: -10%; /* Ajusta el valor para posicionar el círculo fuera del contenedor */
        left: -10%; 
        width: 120%; 
        height: 120%; 
        border-radius: 50%; 
        background-color: #fff;
        border: 45px #464850 solid;
        opacity: 0; 
        transition: all 0.3s ease; 
        z-index: -2; 
      
      }
      
      &:hover::before {
        opacity: 1; /* Cuando se haga hover sobre el contenedor, el after se mostrará */
      }
  }
}
}
@include mobile {
    .home__section {
      font-family: $font-barlow;
      display: flex;
      flex-direction: column;
    }
    .home__description {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px 20px 0px 20px;
      align-items: center;
      justify-content: center;
      &__pretext {
        color: $light-blue;
        text-transform: uppercase;
        font-size: 18px;
        width: 100%;
        text-align: center;
      }
      &__title {
        color: $white;
        text-transform: uppercase;
        font-size: 108px;
        font-weight: 400;
        width: 100%;
        text-align: center;
        font-family: $font-bellefair;
      }
      &__info {
        color: $light-blue;
        font-size: calc(12px + 0.3vw);
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        line-height: 25px;
      }
    }
    .home__btn {
      width: 100%;
      padding: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-top: 0;
      & .home__link {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: $white;
        padding: 60px 30px 60px 30px;
        border-radius: 50%;
        font-family: $font-bellefair;
        font-size: calc(15px + 0.5vw);
        text-transform: uppercase;
        text-align: center;
        color: $black;
        width: 30vw;
        height: 30vw;
        position: relative;
        z-index: 2;
        transition: all 0.3s ease; 
        &::before {
          content: '';
          position: absolute; 
          top: -10%; 
          left: -10%; 
          width: 120%; 
          height: 120%; 
          border-radius: 50%; 
          background-color: #fff;
          border: 20px #464850 solid;
          opacity: 0; 
          transition: all 0.3s ease; 
          z-index: -2; 
        }
        &:hover::before {
          opacity: 1;
        }
    }
  }
}